#stable-logo {
    color: $color-primary;
    fill: $color-primary;
    filter: drop-shadow(0px 0px 5px rgba(lighten($color-secondary, 40%), 0.3));
    width: 100%;
    height: 100%;
}
//The styling for the background image.

.hero {
    @include background-parralax(0.7, '../media/Hero.webp');

    //This will be for a nice looking crop on the image
    &.crop {
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5em), 0 100%);
    }

    //To separate concerns we will put a container for the actual div content
    .hero-container {
        //This is the true container for the content. It will have a padding at the top to account for the 5vh covered by the nav.
        padding-top: 5vh;
        // padding-left: 1em;
        padding-bottom: 5em;
        .hero-content {
            //This will contain the actual content for the grid once it is properly aligned and set up.
            padding: 1em;
            color: $color-light;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .left-column {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            @media (min-width: 1028px) {
                margin-right: 1.5em;
            }
        }

        .right-column {
        }
        .h-logo #stable-logo {
            display: block;
            margin: 0 auto;

            width: min(70%, 70vw);
            height: auto;

            filter: drop-shadow(3px 3px 5px rgba($color-off-light, 20%));
        }
        .h-tag {
            font-size: 0.9em;
            text-align: center;
            margin: 0.7em 0;
        }
        .h-desc {
            p {
                text-align: left;
                font-size: 1.2em;
                margin: 0 auto;
            }
        }

        .h-form {
            margin-top: 1em;
        }
    }
}
@media (max-width: 1440px) {
    .calendar {
        display: none;
    }
    .events-list {
        display: block;
    }
}
@media (min-width: 1440px) {
    .calendar {
        display: grid;
    }
    .events-list {
        display: none;
    }
}
