#stable-logo {
    color: $color-primary;
    fill: $color-primary;
    filter: drop-shadow(0px 0px 5px rgba(lighten($color-secondary, 40%), 0.3));
    width: 100%;
    height: 100%;
}
//The styling for the background image.

.hero {
    height: 100vh;
    overflow: hidden;
    @include background-parralax(0.7, '../media/Hero.webp');

    //This will be for a nice looking crop on the image
    &.crop {
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5em), 0 100%);
    }

    //To separate concerns we will put a container for the actual div content
    .hero-container {
        //This is the true container for the content. It will have a padding at the top to account for the 5vh covered by the nav.
        padding-top: 5vh;

        padding-bottom: 5em;
        .hero-content {
            //This will contain the actual content for the grid once it is properly aligned and set up.
            padding: 1em 3em;
            color: $color-light;
            display: grid;
            grid-template-rows: repeat(10 1fr);
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 1em;
            grid-template-areas:
                'h-logo h-social h-form'
                'h-logo h-social h-form'
                'h-logo h-blank h-form'
                'h-logo h-blank h-form'
                'h-tag h-blank h-form'
                'h-tag  h-blank h-form'
                'h-desc  h-blank h-form'
                'h-desc h-contact h-form'
                'h-desc h-contact h-form'
                'h-desc h-contact h-form';

            @media (max-width: $width_phone) {
                grid-template-areas:
                    'h-logo h-logo h-logo'
                    'h-logo h-logo h-logo'
                    'h-logo h-logo h-logo'
                    'h-logo h-logo h-logo'
                    'h-logo h-logo h-logo'
                    'h-logo h-logo h-logo'
                    'h-logo h-logo h-logo'
                    'h-logo h-logo h-logo'
                    'h-logo h-logo h-logo'
                    'h-logo h-logo h-logo';
            }
        }

        .h-logo {
            #stable-logo {
                height: 20em;
                width: auto;
                filter: drop-shadow(3px 3px 5px rgba($color-off-light, 20%));
            }
            grid-area: h-logo;
        }
        .h-tag {
            @media (max-width: $width_phone) {
                display: none;
            }
            grid-area: h-tag;
        }
        .h-desc {
            @media (max-width: $width_phone) {
                display: none;
            }
            grid-area: h-desc;
        }
        .h-social {
            @media (max-width: $width_phone) {
                display: none;
            }
            grid-area: h-social;
        }

        .h-form {
            align-self: center;
            iframe {
                height: 30em;
            }
            @media (max-width: $width_phone) {
                display: none;
            }
            grid-area: h-form;
        }
        .h-contact {
            @media (max-width: $width_phone) {
                display: none;
            }
            grid-area: h-contact;
        }
    }
}
