@keyframes slide-down {
    0% {
        top: -40%;
    }

    90% {
        top: -2%;
    }

    100% {
        top: -5%;
    }
}
@keyframes slide-up {
    0% {
        top: -5%;
    }

    10% {
        top: -2%;
    }

    100% {
        top: -40%;
    }
}

.calendar-modal {
    position: absolute;
    background-color: rgba($color-light, 0.5);
    color: $color-dark;
    width: 100%;
    height: 70vh;
    // z-index: 2;
    overflow: hidden;
    border-radius: 30px;
    .content {
        animation: slide-down 0.3s ease forwards;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        background-color: $color-light;
        border: 2px solid $color-off-light;
        border-radius: 0 0 20px 20px;
        padding: 1em;
        padding-top: 4em;
        padding-bottom: 0;
        width: 60%;
        &.close {
            animation: slide-up 0.3s ease forwards;
        }
        .times {
            text-align: center;
        }
        .summary {
            text-align: center;
        }
        .description {
            word-wrap: normal;
            word-break: break-all;
        }
        .close-button {
            span {
                font-size: 1.5em;
            }
            transition: all 0.2s ease;
            border-radius: none;
            border: none;
            margin-top: 1em;
            background-color: $color-light;
            color: $color-off-light;
            width: 100%;
            padding: 0.2em;
            &:hover {
                color: $color-off-primary;
                transform: translateY(-5%);
            }
        }
    }
}
