//Button For Calendar
.today-button {
    text-align: center;
    background-color: $color-light;
    border: 2px solid $color-off-light;
    padding: 1em 0.5em;
    border-radius: 10px;
    color: $color-off-light;
    transition: all 0.1s ease;
    padding: 0 1em;
    margin-right: 1em;

    &:hover {
        color: $color-off-primary;
        border-color: $color-off-primary;
    }
    &:active {
        transform: scale(99%);
    }
}

.calendar {
    position: relative;
    background-color: $color-light;
    color: $color-dark;
    border: 2px solid $color-off-light;
    border-radius: 30px;
    padding: 2em;
    font-size: 1.7vh !important;
    .calendar-title {
        text-align: center;
    }
    .calendar-month {
        padding: 0.6em;
        text-align: center;
        .year {
            color: $color-off-light;
        }

        .calendar-arrows {
            color: $color-off-light;
            margin-right: 0.7em;
            font-size: 1.8em;
            font-weight: bold;
            user-select: none;
            div {
                cursor: pointer;
                transition: all 0.2s ease;
                &:hover {
                    color: $color-off-primary;
                }
            }
            .arrow-left {
                margin-right: 0.2em;
            }
        }
    }
    .calendar-grid {
        display: grid;
        .calendar-days {
            margin-bottom: 0.4em;
        }
        .calendar-row {
            display: grid;
            $cell-size: 7em;
            grid-template-columns: repeat(7, 1fr);
            &:not(:last-child) > .calendar-cell {
                border-bottom: none;
            }
            .calendar-cell {
                .cell-text {
                    overflow: hidden;
                }
                word-wrap: break-word;
                border: 2px solid $color-off-light;
                background-color: $color-light;
                color: $color-dark;
                width: $cell-size;
                min-height: $cell-size;
                max-height: 15em;

                transition: all 0.2s ease;

                &:not(:last-child) {
                    border-right: none;
                }

                &:hover {
                    color: $color-primary;
                    .day {
                        color: $color-primary;
                    }
                }

                .day {
                    padding: 0.5em 0;
                    text-align: center;
                    &#today span {
                        $day-iocn-size: 1.5em;
                        display: inline-block;
                        width: $day-iocn-size;
                        height: $day-iocn-size;
                        background-color: $color-off-primary;
                        color: $color-light;

                        border-radius: 100px;
                        padding: 0.2em;
                    }
                    font-size: 0.8em;
                    color: $color-off-light;
                }
            }
        }
    }
}
