//The actual form and it's layout.
.contact-form {
    .contact-fieldset {
        padding: 1em;
        //Leaving the border on for now for debugging purposes.
        border: none;

        //This will contain the grid layout information
        .contact-grid {
            display: grid;
            $title-height: auto;
            $input-height: minmax(0, 1fr);
            $textarea-height: minmax(0, 2fr);
            $button-height: minmax(0, 1.2fr);
            grid-template-rows: $title-height $input-height $title-height $input-height $title-height $input-height $title-height $input-height $title-height $textarea-height $button-height;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            row-gap: 0.5em;
            column-gap: 0.5em;
            .left {
                grid-column: 1/2;
            }
            .right {
                grid-column: 2/3;
            }
            .fill {
                grid-column: 1/-1;
            }
            .time-inputs {
                display: flex;
                width: 100%;
                flex: 1;
                justify-content: space-around;
                input {
                    width: 100%;
                }
            }
            .dates {
                grid-column: 1/-1;
                margin: 0 auto;
                input:first-child {
                    margin-right: 1em;
                }
            }
        }
    }
}

//The containing element of the form.
.contact-form-container {
    border: 2px solid $color-secondary;
    border-radius: 1.2em;
    background-color: rgba($color-off-light, 0.2);
    backdrop-filter: blur(0.2em);

    padding: 2.5em;
}
