.event-ribbon {
    background-color: lighten($color-primary, 10%);
    display: flex;
    width: 100%;
    color: $color-light;
    font-size: 0.6em;
    padding: 0.1em 0.2em;
    border-radius: 4px;
    transition: all 0.2s ease;
    align-content: space-between;
    white-space: nowrap;
    &.timed {
        border-radius: 8px;
        background-color: transparent;
        color: $color-dark;
        // padding-right: 0.5em;
        &:hover {
            background-color: rgba(lighten($color-off-light, 10%), 0.8);
        }
    }
    .title {
        margin-left: 0.4em;
        font-size: 1em;
    }

    .bullet {
        color: $color-off-primary;
        font-size: 5em;
        padding-top: 0.05em;
        line-height: 0%;
    }
    &:not(:last-child) {
        margin-bottom: 0.5em;
    }

    &:hover {
        cursor: pointer;
        background-color: $color-primary;
        transform: scale(105%);
    }

    &:active {
        transition: all 0.1s ease;
        transform: scale(100%);
    }
    .title {
        user-select: none;
        font-weight: bold;
    }
}
