.footer {
    background-color: $color-primary;
    color: $color-light;
    padding: 1em;
    .social {
        margin-bottom: 0.7em;
    }
    .copyright {
        margin: 0.5em;
        color: rgba($color-light, 0.6);
        font-size: 0.9em;
        text-align: center;
    }
}
