.nav-container {
    position: absolute;
    z-index: 10;
    width: 100vw;
    background-color: rgba($color-secondary, 0.6);
    backdrop-filter: blur(1em);
    color: $color-light;
    .bullet {
        font-weight: 100;
        user-select: none;
        display: block;
        width: 2em;
        text-align: center;
    }
    #svg-lines {
        fill: $color-light;
    }
    a:hover {
        color: $color-primary;
        text-decoration: none;
    }
    height: 5vh;
    font-size: 1.2em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
}

@keyframes open {
    from {
        width: 0%;
    }
    to {
        width: 40%;
    }
}
@keyframes open-wide {
    from {
        width: 0%;
    }
    to {
        width: 60%;
    }
}

.navbar {
    $nav-open-speed: 0.5s;
    $nav-open-delay: 0.2s;
    width: 0%;
    overflow: hidden;
    animation: open $nav-open-speed ease $nav-open-delay forwards;
    @media (max-width: $width_phone) {
        animation: open-wide $nav-open-speed ease $nav-open-delay forwards;
    }
    display: flex;
    justify-content: center;
    .nav-item:not(:last-child) {
    }
}
