.social-media {
    a:not(:last-child) {
        margin-right: 1em;
    }
    svg {
        width: 3em;
        fill: $color-light;
        cursor: pointer;
        background-color: transparent;
        transition: all 0.2s ease;
        border-radius: 10px;
        padding: 0.3em;
        &:hover {
            background-color: white;
        }
        &#twitter:hover {
            fill: #1da1f2;
        }
        &#instagram:hover {
            fill: url('#rg');
        }
        &#facebook:hover {
            fill: #4267b2;
        }
    }
}
