svg#stable-logo {
    --fill-primary: #{$color-light};
    --fill-secondary: #{$color-primary};
    --stroke-primary: var(--fill-secondary);
    // --stroke-primary: #{$color-primary};
    --stroke-width: 0px;
}
